body{
    background-image: url('img4.jpg');
    background-size: cover;
    text-align: center;
    background-repeat: no-repeat;
    margin-top: 200px;
    margin-bottom: 300px;
}
h2{
    color: black;
}
input[type=text]:hover{
    background-color: bisque;
    transform: scale(1.5,1.5);
}
button:hover{
    transform: scale(2,2);
    background-color: pink;
}